
*{
    box-sizing: border-box;
}

p{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

body,html{
    margin: 0px;
    padding: 0px;
}

html {
  scroll-behavior: smooth;
}

body{
    display: flex;
}

.staticHomeBtn{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: rgb(64, 64, 64);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1000;
}

.staticHomeBtn > i{
    color: white;
    font-size: 1.4em;
}

nav{
    user-select: none;
    position: fixed;
    width: 400px;
    min-width: 200px;
    height: 100dvh;
    background-color:rgb(42, 42, 42);
    border-right: 2px solid rgb(255, 255, 255) ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

nav > .photo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin:30px 0;
    margin-bottom: 0;;
}

nav > .photo > img{
    width: 320px;
    height: 320px;
    border: white 3px solid;
    border-radius: 50%;
}

nav > .photo > h1{
    color:white;
    font-size: 2em;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 0;;
}

nav > .navLinks {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:10px;
    margin-bottom: 20px;
}

nav > .navLinks > div{
    width: 170px;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

nav > .navLinks > div:hover i{
    color: rgb(198, 59, 59);
}

nav > .navLinks > div > i{
    color: rgb(149, 149, 149);
    font-size: 1.7em;
    transition: all .2s ease-in-out;
}

nav > .navLinks > div > p{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.4em;
    font-weight: 700;
    transition: all .2s ease-in-out;
}

nav > .options {

    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 30px;
    margin-bottom: 10px;
    margin-left: 10px;
}

nav > .options > i{
    font-size: 2.5em;
    color: rgb(152, 152, 111);
    transition: all .2s ease-in-out;
    cursor: pointer;
}

nav > .options > i:hover{
    color: rgb(181, 181, 47);
}

nav > .options > div{
    display: flex;
    justify-content: center;
    align-items:center;
    text-align: center;
    gap:20px;
    margin-right: 20px;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

nav > .options > div:hover i{
    color: rgb(51, 51, 157);
}

nav > .options > div > i{
    font-size: 2.5em;
    color:rgb(144, 159, 172);
    transition: all .2s ease-in-out;
}

nav > .options > div > a{
    font-size: 1.4em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    color: white;
    transition: all .2s ease-in-out;
}

main{
    margin-left: 400px;
    width: 100%;
    height: auto;
    background-color:rgb(42, 42, 42);
}

main > #home{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main > #home > h2{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 5em;
    font-weight: 900;
    user-select: none;
}

main > #home > h1{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: #6c96e5;
    font-size: 5em;
    font-weight: 900;
    user-select: none;
}

main > #home > p{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 2em;
    font-weight: 600;
}

main > #home > i{
    margin: 0;
    margin-top: 100px;
    color: white;
    font-size: 3em;
    font-weight: 700;
    cursor: pointer;
}

main > #about{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 200px;
    padding-right: 200px;
}

main > #about > h2{
    font-size: 2.5em;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: white;
    margin-bottom: 80px;
    user-select: none;
}

main > #about > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main > #about > div > p{
    width: 500px;
    font-size: 1.45em;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: white;
}

main > #about > div > school{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    row-gap: 20px;
    cursor: pointer;
}

main > #about > div > school > h3{
    font-size: 1.45em;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: white;
    text-align: center;
}

main > #about > div > school > img{
    user-select: none;
    width: 300px;
}

main > #about > div > school > p{
    font-size: 1em;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: white;
    text-align: center;
    font-weight: bold;
    text-align: center;
}

main > #about > div > div{
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

main > #about > div > div > i{
    font-size: 5em;
    color:white;
    cursor: pointer;
}

main > #skills{
    width: 100%;
    height: 100vh;
    padding-left: 200px;
    padding-right: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main > #skills > h2{
    font-size: 2.5em;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: white;
    margin-bottom: 80px;
    user-select: none;
}

main > #skills > div{
    display: grid;
    gap:50px;
    grid-template-columns: repeat(3,1fr);
    user-select: none;
}

main > #skills > div > div{
    width: 300px;
    height: 180px;
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: solid rgb(195, 226, 255) 3px;
    transition: all ease .3s;
    cursor: default;
    transform: scale(1.03);
}

main > #skills > div > div:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

main > #skills > div > div > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 5px;
}

main > #skills > div > div > div > p{
    font-family: 'Poppins',sans-serif;
    font-size: 1.5em;
}

main > #skills > div > div > div > img{
    width: 100px;    
    height: 100px;
}

main > #skills > div > div > bar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
}

main > #skills > div > div > bar > div{
    border: solid 3px black;
    border-radius: 10px;
    width: 20px;
    height: 95px;
    background-color: white;
    display: flex;
    flex-direction: column-reverse;
}

main > #skills > div > div > bar > div > .up{
    width: 100%;
}

main > #skills > div > div > bar > div > .down{
    width: 100%;
    border-radius: 10px;
    background-color: hsl(0, 100%, 54%);
}

main > #skills > div > div > bar > p{
   font-size: 1.5em;
   font-family: 'Poppins',sans-serif;
}

main > #certificates{
    width: 100%;
    height: 100vh;
    padding-left: 200px;
    padding-right: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main > #certificates > h2{
    font-size: 2.5em;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: white;
    margin-bottom: 50px;
    user-select: none;
    margin-left: -5px;
}

main > #certificates > div {
    display:flex;
    column-gap: 20px;
    width: 1115px;
    overflow-x: scroll;
    padding: 10px;
    border: solid rgb(84, 84, 84) 3px;
    background-color: rgb(52, 52, 52);
    border-radius: 20px;
    margin-left: -10px;
    scroll-behavior: smooth;
    outline: none;
}

main > #certificates > div::-webkit-scrollbar {
    display: none;
}

main > #certificates > div > div {
    width: 350px;
    height: 500px;
    border: 3px white solid;
    border-radius: 18px;
    background-color: grey;
    padding: 10px;
    cursor: pointer;
}

main > #certificates > div > div > div{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 250px;
}

main > #certificates > div > div > div > img {
    border-radius: 10px;
    user-select: none;
}

main > #certificates > div > div > h3{
    font-family: 'Poppins', sans-serif;
    font-size: 1.6em;
    text-align: center;
}

main > #certificates > div > div > p{
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
    text-align: center;
}

main > #certificates > arrows{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
    user-select: none;
}

main > #certificates > arrows > div{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 3em;
    cursor: pointer;
}

main > #projects {
    width: 100%;
    height: auto;
    padding-left: 200px;
    padding-right: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main > #projects > h2{
    font-size: 2.5em;
    margin: 0;
    margin-top: 80px;
    font-family: 'Poppins', sans-serif;
    color: white;
    margin-bottom: 50px;
    user-select: none;
}


main > #projects > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    width: 1100px;
    padding:15px;
    border: solid rgb(84, 84, 84) 3px;
    background-color: rgb(52, 52, 52);
    border-radius: 20px;
    outline: none;
}

main > #projects > div > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1070px;
    height: 300px;
    background-color: rgb(102, 102, 102);
    border-radius: 20px;
}

main > #projects > div > div > img{
    border-radius: 0px;
    height: 100%;
    border-radius: 20px;
    border-right: #5980c9 solid 5px;
    width: 538px;
    user-select: none;
} 

main > #projects > div > div > div {
    width: 500px;
    height: 90%;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 10px;
}

main > #projects > div > div > div > h2{
    font-family: 'Poppins', sans-serif;
    font-size: 2.7em;
    margin: 0px;
    text-align: left;
    margin-left: 10px;
    color: #b5e0ff;
}

main > #projects > div > div > div > p{
    font-family: 'Poppins', sans-serif;
    font-size: 1.3em;
    margin-left: 10px;
    color: #f7f7f7;
}

main > #projects > div > div > div > div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    user-select: none;
}

main > #projects > div > div > div > div > div{
    width: 140px;
    height: 40px;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    margin-top: 20px;
    font-size: 1.1em;
    font-weight: 500;
    cursor: pointer;
}

main > #team {
    width: 100%;
    height: 100vh;
    padding-left: 200px;
    padding-right: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main > #team > h2{
    font-size: 2.5em;
    margin: 0;
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
    color: white;
    margin-bottom: 50px;
    user-select: none;
}

main > #team > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    row-gap: 20px;
    width: 1100px;
    padding:15px;
    border: solid rgb(84, 84, 84) 3px;
    background-color: rgb(61, 44, 44);
    background-image: url('Portfolio_Assets/SuceavaHacks.png');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
    height: 600px;
    font-family: 'Poppins', sans-serif;
    transition: background-size 0.3s ease-in-out;
}

main > #team > div:hover {
    background-size: 108%;
}

main > #team > div > div{
    width: 100%;
    padding: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

main > #team > div > div > p{
    font-size: 1.3em;
    width: 600px;
    margin: 0;
    text-align: center;
}

main > #team > div > div >div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}

main > #team > div > div > div > div{
    width: 140px;
    height: 40px;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    margin-top: 20px;
    font-size: 1.1em;
    font-weight: 500;
    cursor: pointer;
    user-select: none;
}

main > #contact {
    width: 100%;
    height: 100vh;
    padding-left: 200px;
    padding-right: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main > #contact > h2{
    font-size: 2.5em;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: white;
    margin-bottom: 50px;
    user-select: none;
}

main > #contact > formdiv{
    width: 100%;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main > #contact > formdiv > form{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

main > #contact > formdiv > form > label{
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
    color: white;
    text-align: center;
    margin-top: 20px;
    width: 70%;
    text-align: left;
    margin-left: 13px;
    margin-bottom: 7px;
}

main > #contact > formdiv > form > input,
main > #contact > formdiv > form > textarea{
    width: 70%;
    height: 50px;
    border-radius: 30px;
    background-color: rgb(64, 64, 64);
    border: solid white 2px;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
    color: white;
    outline: none;
    transition: all .2s ease-in-out;
    resize: none;
    padding: 0 15px;
}

main > #contact > formdiv > form > textarea{
    height: 150px;
    padding: 15px;
}

main > #contact > formdiv > form > button{
    width: 200px;
    height: 40px;
    margin-top: 20px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    outline: none;
    border:none;
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
    font-weight: 600;
    cursor: pointer;
    transition: all .2s ease-in-out;
    user-select: none;
}

main > #contact > formdiv > form > button:hover{
    background-color: rgb(182, 182, 182);
}

main > #contact > formdiv > form > button:active{
    background-color: rgb(128, 128, 128);
}

main > #contact > formdiv > p{
    font-family: 'Poppins', sans-serif;
    font-size: 1.3em;
    color: white;
    text-align: center;
    margin-bottom: 5px;
}

main > #contact > div{
    width: 100%;
    height: 60px;
    background-color: rgb(66, 66, 66);
    border-radius: 20px;
    margin-top: 20px;
    user-select: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

main > #contact > div > p{
    font-family: 'Poppins', sans-serif;
    font-size: 1.3em;
    color: white;
    text-align: center;
    line-height: 60px;
    margin: 0;
}


main > #contact > div > div > i {
    font-size: 2.5em;
    color: white;
    margin-right: 20px;
    cursor: pointer;
    transition: all .2s ease-in-out;
    
}

main > #contact > div > div > i:hover {
    color: rgb(169, 169, 169);
}